PORT=5000
DATABASE_URL="postgresql://johndoe:randompassword@localhost:5432/mydb?schema=public"
CLERK_PUBLISHABLE_KEY=pk_test_your_clerk_publishable_key_here
CLERK_SECRET_KEY=sk_test_your_clerk_secret_key_here
GITHUB_TOKEN=
GITHUB_SYNC_INTERVAL_MINUTES=5
GITHUB_SYNC_INITIAL_DELAY_SECONDS=15
